{
  "extends": "standard",
  "env": {
    "browser": true
  },
  "rules": {
    "indent": [2, 4],
    "semi": [2, "always"],
    "camelcase": 2,
    "no-restricted-syntax": [2, "WithStatement"],
    "no-console": 2,
    "no-constant-condition": 2,
    "no-empty": 2,
    "no-extra-semi": 2,
    "valid-jsdoc": 2,
    "arrow-spacing": 2,
    "constructor-super": 2,
    "generator-star-spacing": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "prefer-spread": 2,
    "require-yield": 2
  },
  "globals": {
    "define": true
  }
}
