extends layout

append scripts
    script(src='specs/open-db.js')
    script(src='specs/server-add.js')
    script(src='specs/server-update.js')
    script(src='specs/server-remove.js')
    script(src='specs/query.js')
    script(src='specs/indexes.js')
    script(src='specs/jquery-integration.js')
    script
        jasmine.getEnv().addReporter(new jasmine.HtmlReporter());
        jasmine.getEnv().addReporter(new jasmine.JSReporter());
        jasmine.getEnv().execute();