extends layout

append scripts
    script(src='../bower/jquery/dist/jquery.min.js')
    script(src='specs/open-db.js')
    script(src='specs/cmp.js')
    script(src='specs/delete-db.js')
    script(src='specs/server-add.js')
    script(src='specs/server-count.js')
    script(src='specs/server-update.js')
    script(src='specs/server-remove.js')
    script(src='specs/query.js')
    script(src='specs/indexes.js')
    script(src='specs/thenable-integration.js')
