!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='/jasmine.css')
    block css
    title IndexedDB Playground
  body
    h1 IndexedDB Testing
    
    block content

    block scripts
        script(src='/jasmine.js')
        script(src='/jasmine-html.js')
        script(src='/db.js')