!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='lib/jasmine.css')
    block css
    title IndexedDB Playground
  body
    h1 IndexedDB Testing
    
    block content

    block scripts
        script(src='lib/jasmine.js')
        script(src='lib/jasmine-html.js')
        script(src='lib/jasmine-jsreporter.js')
        script(src='lib/jquery-1.8.2.min.js')
        script(src='/src/db.js')