!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='../bower/jasmine/lib/jasmine-core/jasmine.css')
    block css
    title IndexedDB Playground
  body
    h1 IndexedDB Testing
    
    block content

    block scripts
        script(src='../bower/jasmine/lib/jasmine-core/jasmine.js')
        script(src='../bower/jasmine/lib/jasmine-core/jasmine-html.js')
        script(src='../bower/jasmine/lib/jasmine-core/boot.js')
        script(src='../bower/jasmine-jsreporter/jasmine-jsreporter.js')
        script(src='../src/db.js')
        script
            jasmine.getEnv().addReporter(new jasmine.JSReporter2())