doctype html
html
  head
    meta(charset='utf-8')
    link(type='text/css', rel='stylesheet', href='../node_modules/jasmine-core/lib/jasmine-core/jasmine.css')
    block css
    title IndexedDB Playground
  body
    h1 IndexedDB Testing

    block content

    block scripts
        script(src='../node_modules/jasmine-core/lib/jasmine-core/jasmine.js')
        script(src='../node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js')
        script(src='../node_modules/jasmine-core/lib/jasmine-core/boot.js')
        script(src='../dist/db.min.js')
